.sectionHeader {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: #8d7197;
  margin: 0 auto;
  margin-top: 20px;

  align-items: center;

}

.foto img,
.sectionHeader {

  border-radius: 10px;
}

.sectionGegevens {
  text-align: center;
}

.sectionErvaring {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #8d7197;
  width: 95%;
  border-radius: 10px;
  align-items: stretch;

}

.sectionErvaringBox
{
  margin-left: 20px;
  margin-right: 20px;
  
}

.sectionTalen,
.sectionPersoonlijkheid,
.sectionProgrammeerTalen {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #504553;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
 align-items: center;

}

.sectionTalen {
  margin-top: 0px;
}
.sectionfooter {
  background-color: #8d7197;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionfootergegevens {
  margin-left: 20px;


}

.iconlinkdin img,
.icongithub img {
  width: 40px;
  height: 40px;
}

.sectionlinks {
  margin-right: 20px;

  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;


}

.icongithub {
  margin-right: 20px;
}


@media screen and (min-width: 760px) {

  .sectionHeader
  {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
  }
  .sectionGegevens
  {
    text-align: left;
    align-self: baseline;
  }
  .sectionGegevens,.foto
  {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .title
  {
    flex-basis: 100%;
  }

  .sectionVaardigheden
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .sectionTalen,
.sectionPersoonlijkheid,
.sectionProgrammeerTalen
{
  flex-grow: 1;
  align-self: stretch;
  margin-top: 0;
}

}