.sectionheader {
    background-color: #8d7197;
    width: 95%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}






img {


    border-radius: 10px;

}

.sectionfoto,
.sectiongegevens {



    text-align: center;


}





.sectionuitleg {
    background-color: #8d7197;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;

    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sectiongmotivatie,
.sectiongeschiedenis,
.sectionhobby {
    margin-left: 20px;
    margin-right: 20px;

}

.sectionfooter {
    background-color: #8d7197;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sectionfootergegevens
{
    margin-left: 20px;
    
    
}
.iconlinkdin img,
.icongithub img  {
   width: 40px;
   height: 40px;
}
.sectionlinks
{
    margin-right: 20px;
    
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    
}
.icongithub
{
    margin-right: 20px;
}

@media screen and (min-width: 760px) {

    .sectionheader {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .title {
        flex-basis: 100%;
    }



    .sectiongegevens,
    .sectionfoto {

        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;

    }

    .sectiongegevens {
        align-self: baseline;
    }

}